@page
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikace selhala</title>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400&display=swap');

        * {
            margin: 0;
            padding: 0;
            font-family: 'PT Sans', sans-serif;
        }

        .container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #2c2f33;
            color: #99aab5;
        }

        .container h1 {
            color: #e96060;
            margin-bottom: 2rem;
            font-size: 3rem;
        }

    </style>
</head>
<body>
<div class="container">
    <img class="meme" src="https://cdn.betterttv.net/emote/6005f6d982cf6865d5525e3b/3x">
    <h1>Verifikace selhala</h1>
    <h2>Pokud problém přetrvá, napiš někomu z administrátorů.</h2>
</div>
</body>
</html>